<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>test</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>output</display-name>
    <servlet-name>output</servlet-name>
    <servlet-class>gaurav.output</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>output</servlet-name>
    <url-pattern>/output</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>output1</display-name>
    <servlet-name>output1</servlet-name>
    <servlet-class>gaurav.output1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>output1</servlet-name>
    <url-pattern>/output1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Welcome</display-name>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>gaurav.Welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/Welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>database</display-name>
    <servlet-name>database</servlet-name>
    <servlet-class>gaurav.database</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>database</servlet-name>
    <url-pattern>/database</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Database1</display-name>
    <servlet-name>Database1</servlet-name>
    <servlet-class>gaurav.Database</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Database1</servlet-name>
    <url-pattern>/Database1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>data</display-name>
    <servlet-name>data</servlet-name>
    <servlet-class>gaurav.data</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>data</servlet-name>
    <url-pattern>/data</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Edit</display-name>
    <servlet-name>Edit</servlet-name>
    <servlet-class>gaurav.Edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit</servlet-name>
    <url-pattern>/Edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>gaurav.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Insert</display-name>
    <servlet-name>Insert</servlet-name>
    <servlet-class>gaurav.Insert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Insert</servlet-name>
    <url-pattern>/Insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Session</display-name>
    <servlet-name>Session</servlet-name>
    <servlet-class>gaurav.Session</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Session</servlet-name>
    <url-pattern>/Session</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>gaurav.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Date</display-name>
    <servlet-name>Date</servlet-name>
    <servlet-class>gaurav.Date</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Date</servlet-name>
    <url-pattern>/Date</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Excel</display-name>
    <servlet-name>Excel</servlet-name>
    <servlet-class>gaurav.Excel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Excel</servlet-name>
    <url-pattern>/Excel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcelRW</display-name>
    <servlet-name>ExcelRW</servlet-name>
    <servlet-class>gaurav.ExcelRW</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcelRW</servlet-name>
    <url-pattern>/ExcelRW</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>gaurav.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>