<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>test</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>output</display-name>
    <servlet-name>output</servlet-name>
    <servlet-class>gaurav.output</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>output</servlet-name>
    <url-pattern>/output</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>output1</display-name>
    <servlet-name>output1</servlet-name>
    <servlet-class>gaurav.output1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>output1</servlet-name>
    <url-pattern>/output1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Welcome</display-name>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>gaurav.Welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/Welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>database</display-name>
    <servlet-name>database</servlet-name>
    <servlet-class>gaurav.database</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>database</servlet-name>
    <url-pattern>/database</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Database1</display-name>
    <servlet-name>Database1</servlet-name>
    <servlet-class>gaurav.Database</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Database1</servlet-name>
    <url-pattern>/Database1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>data</display-name>
    <servlet-name>data</servlet-name>
    <servlet-class>gaurav.data</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>data</servlet-name>
    <url-pattern>/data</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Edit</display-name>
    <servlet-name>Edit</servlet-name>
    <servlet-class>gaurav.Edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit</servlet-name>
    <url-pattern>/Edit</url-pattern>
  </servlet-mapping>
</web-app>